.mainMenu
{
    background-color:yellow;
    border-radius: 7px;
    border-bottom: 5px groove goldenrod;
    border-right: 3px groove gold;
    border-top: 1px solid white;
    border-left: 1px solid white;
}
.level1
{
    color:blue;
    background-color:blue;
    border-radius: 7px;
    border-bottom: 5px groove darkblue;
    border-right: 2px groove blueviolet;
}
.menuItem
{
    font:800 1em Crimson Text;
    background-color:yellow;
    margin:.5em;
}
.menuItemHover
{
    font:800 1em Crimson Text;
    color:yellow;
    background-color:purple;
    margin:.5em;
}
legend
{
    font:bold 1.4em Chrimson Text;
    background-color:navy;
    padding:.2em;
    border-radius: .5em;
    border-right: 3px groove grey;
    border-bottom: 6px groove dodgerblue;
    color:gold;
}
.loginView
{
    font:bold 1.2em Chrimson Text;
    float: right;
    color:yellow;
    padding:5px;
    margin:5px;
    background-color:blue;
    border-radius:7px;
    border-bottom: 6px groove goldenrod;
    border-right: 3px groove goldenrod;
    border-top: 1px solid white;
    border-left: 1px solid white;
}
.loginStatus
{
    font:bold 1.2em Chrimson Text;
    clear:right;
    float: right;
    color:yellow;
    padding:5px;
    margin:5px;
    background-color:blue;
    border-radius:7px;
    border-bottom: 6px groove goldenrod;
    border-right: 3px groove goldenrod;
    border-top: 1px solid white;
    border-left: 1px solid white;
}
.level2
{
    color:yellow;
    padding:5px;
    background-color:blue;
    border-radius:7px;
    border-bottom: 6px groove darkblue;
    border-right: 3px groove navy;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.dateValidation
{
    color:red;
}
h1{
    color:yellow;
}
body
{
    background-color:blue;
}
div.aspNetHidden
{
    background-color:transparent;
}
#divDate
{
    height:auto;
    padding:5px;
    vertical-align:top;
}
div.dateComp
{
    float:left;
    margin:2px;
    display:inline-block;
}
div.submission
{
    clear:left;
}
#divEventBuilder
{
    width:59%;
    float:right;
}
#calanderHeading
{
    width:200px;
    text-align:center;
    background-color:yellow;
}
div.attributeComp
{
    float:left;
}
#CalendarContainer
{
    clear:left;
    background-color:blue;
    padding:10px;
    height:100%;
    margin:2px;
    display:block;
}
.CalendarCurrentDay
{
    background-color:white;
    color:blue;
    text-align:left;
    float:left;
    width:13%;
    margin-right:2px;
    padding:2px;
}
div.day
{
    color:blue;
    text-align:left;
    float:left;
    width:13%;
    margin-right:2px;
    padding:2px;
}
div.dayFiller
{
    background-color:blue;
    text-align:left;
    float:left;
    width:13%;
    margin:2px;
    padding:2px;
}
div.dayOfWeek
{
    background-color:yellow;
    text-align:left;
    float:left;
    width:13%;
    margin-right:2px;
    padding:2px;
}
.loadingContainer
{
    position:absolute;
    margin-left:-25px;
    border-radius:0px;
    height:100%;
    width:100%;
    opacity:0.6;
    background-color:gray;
}
.loadingImage
{
    position:fixed;
    height:8em;
    width:8em;
    z-index: 1000;
    padding-left:50%;
    vertical-align:central;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

#body_uxAddEvent
{
    float:right;
}
div.week
{
    background-color:blue;
    clear:left;
    padding:10px;
    margin: 10px;
}
label
{
    color:blue;
}

h2
{
    color:blue;
    text-align:center;
}
h3.weekDayHeading
{
    text-align:center;
    color:blue;
}
div
{
    padding:5px;
    border-radius:5px;
    background-color:yellow;
}
#divMaster
{
    background-color:transparent;
}
b
{
    color:blue;
}